[s/$title/s]

<div class="row mt-4">

    <div class="col-md-8">

        <div class="card">

            <div class="card-header font_weight500">

                Datos del Gateway

            </div>

            <div class="card-body">

                <form id="form_data" name="form_data" autocomplete="off">
                    
                    <div class="row mt-2">
                        
                        <div class="col-md-12">
                            <i>Solo es posible modificar el nombre del Gateway. El resto de campos son informativos 
                                y se actualizan automáticamente durante la sincronización.
                            </i>
                        </div>
                        
                    </div>
                    
                    <div class="row mt-4">

                        <div class="col-md-4">

                            <label class="colorTertiary font_weight500" for="nombre">
                                Nombre
                            </label>
                            <div>
                                <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre" value="[s/$model->gateway_name/s]" required>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <label class="colorTertiary font_weight500" for="ttlock_name">
                                Nº de Serie
                            </label>
                            <div>
                                <input type="text" class="form-control" id="ttlock_name" name="ttlock_name" value="[s/$model->serial_number/s]" readonly>
                            </div>

                        </div>
                        
                        <div class="col-md-4">

                            <label class="colorTertiary font_weight500" for="num_dispositivo">
                                Nº dispositivo
                            </label>
                            <div>
                                <input type="text" class="form-control" id="num_dispositivo" name="num_dispositivo" value="[s/$model->device_num/s]" readonly>
                            </div>

                        </div>
                        

                    </div>

                    <div class="row mt-2">

                        <div class="col-md-4">

                            <label class="colorTertiary font_weight500" for="id">
                                Id
                            </label>

                            <div class="mt-2">
                                <input type="text" class="form-control" id="id" name="id" readonly value="[s/$model->id/s]">
                            </div>

                        </div>
                        
                        <div class="col-md-4">

                           <label class="colorTertiary font_weight500" for="ttlock_id">
                                Ttlock Id
                            </label>

                            <div class="mt-2">
                                <input type="text" class="form-control" id="ttlock_id" name="ttlock_id" readonly value="[s/$model->ttlock_gateway_id/s]">
                            </div>

                        </div>
                        
                        <div class="col-md-4">

                           <label class="colorTertiary font_weight500" for="num_lock">
                                Nº Cerraduras
                            </label>

                            <div class="mt-2">
                                <input type="text" class="form-control" id="num_lock" name="num_lock" readonly value="[s/$model->lock_num/s]">
                            </div>

                        </div>

                    </div>
                    
                    <div class="row mt-2">
                        
                        <div class="col-md-6">

                            <label class="colorTertiary font_weight500" for="ttlock_mac">
                                MAC
                            </label>
                            <div>
                                <input type="text" class="form-control" id="ttlock_mac" name="ttlock_mac" value="[s/$model->gateway_mac/s]" readonly>
                            </div>

                        </div>
                        
                        <div class="col-md-6">

                            <label class="colorTertiary font_weight500" for="ttlock_mac_network">
                                Network MAC
                            </label>
                            <div>
                                <input type="text" class="form-control" id="ttlock_mac_network" name="ttlock_mac_network" value="[s/$model->network_mac/s]" readonly>
                            </div>

                        </div>
                        
                    </div>
                    
                    <div class="row mt-2">

                        <div class="col-md-4">

                           <label class="colorTertiary font_weight500" for="version">
                                Gateway_version
                            </label>

                            <div class="mt-2">
                                <input type="text" class="form-control" id="version" name="version" readonly value="[s/$model->gateway_version/s]">
                            </div>

                        </div>



                    </div>

                    

                </form>
                
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div id="loading" class="loading-div">
                            <img alt="Loading" src="../assets/images/loading.svg">
                            <div class="text-center colorMuted">Guardando datos</div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">

                    <div class="col-md-6">
                        <button aria-label="Save changes" id="btn_save" class="btn backgroundTertiary colorWhite" onclick="actualizarGateway([s/$model->id/s]);">Guardar</button>
                    </div>
                    
                    <div class="col-md-6 text-end">

                        <a href="../gateways"
                           class="btn backgroundMuted colorWhite">
                            Volver
                        </a>

                    </div>

                </div>

            </div>
        </div>

    </div>

     <div class="col-md-4">
         
         <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-header font_weight500">

                        Estado

                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4 mt-2">
                                Online:
                            </div>

                            <div class="col-md-4 mt-2">
                                <i class="fa-solid fa-wifi [s/if $model->is_online==1/s]colorAccent[s/else/s]colorError[s//if/s]"></i>
                            </div>


                        </div>
                        
                        <div class="row">

                            <div class="col-md-6 mt-2">
                                Cerraduras asociadas:
                            </div>

                            <div class="col-md-6 mt-2">
                                [s/foreach from=$locks item=lock/s]
                                <a aria-label="Ver cerradura" class="colorBase9 cursor_pointer mb-2" href="../editdevice/[s/$lock->id/s]">
                                    [s/$lock->lock_alias/s]
                                </a>                          
                                [s//foreach/s]
                            </div>


                        </div>

                    </div>

                </div>


            </div>

        </div>

        <div class="row mt-2">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-header font_weight500">

                        Opciones

                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4 mt-2">
                                <a aria-label="activity" class="colorTertiary" href="../auditgateway/[s/$model->id/s]">
                                    <i class="fa-solid fa-circle-info"></i> Actividad
                                </a>
                            </div>


                        </div>

                    </div>

                </div>


            </div>

        </div>

     </div>

</div>