[s/$title/s]

<div class="row mt-4">

    <div class="col-md-8">

        <div class="card">

            <!-- DATOS DEL USUARIO -->
            <div class="card-header font_weight500">

                Datos del Usuario

            </div>

            <div class="card-body">

                <form id="form_data" name="form_data" autocomplete="off">

                    <div class="row">

                        <div class="col-md-6 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="name">
                                Nombre
                                <span class="text-danger">*</span>
                            </label>

                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   maxlength="150"
                                   value="[s/$model->first_name/s]">

                        </div>


                        <div class="col-md-6 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="lastname">
                                Apellidos
                            </label>

                            <input type="text"
                                   class="form-control"
                                   id="lastname"
                                   name="lastname"
                                   maxlength="255"
                                   value="[s/$model->last_name/s]">

                        </div>


                        <div class="col-md-8 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="email">
                                Email
                                <span class="text-danger">*</span>
                            </label>

                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   value="[s/$model->email/s]">

                        </div>


                        <div class="col-md-4 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="phone">
                                Teléfono
                            </label>

                            <input type="text"
                                   class="form-control"
                                   id="phone"
                                   name="phone"
                                   maxlength="30"
                                   value="[s/$model->phone/s]">

                        </div>


                        <div class="col-md-12 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="address">
                                Dirección
                            </label>

                            <input type="text"
                                   class="form-control"
                                   id="address"
                                   name="address"
                                   maxlength="255"
                                   value="[s/$model->address/s]">

                        </div>
                        
                        <div class="col-md-3 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="country_id">
                                País
                            </label>

                            <select id="country_id"
                                    name="country_id"
                                    class="form-select">

                                <option value="">
                                    Seleccione un país
                                </option>

                                [s/foreach from=$countries item=country/s]

                                <option value="[s/$country->id/s]"
                                        [s/if $model->country_id == $country->id/s]selected[s//if/s]>
                                        [s/$country->nom/s]
                            </option>

                            [s//foreach/s]

                        </select>

                    </div>


                        


                        <div class="col-md-3 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="province_id">
                                Provincia
                            </label>

                            <select id="province_id"
                                    name="province_id"
                                    class="form-select"
                                    [s/if empty($model->country_id)/s]disabled[s//if/s]>

                                    [s/if empty($model->country_id)/s]

                                    <option value="">
                                    Seleccione primero un país
                                </option>

                                [s/else/s]

                                <option value="">
                                    Seleccione una provincia
                                </option>

                                [s/foreach from=$provinces item=province/s]

                                <option value="[s/$province->id/s]"
                                        [s/if $model->province_id == $province->id/s]selected[s//if/s]>
                                        [s/$province->name/s]
                            </option>

                            [s//foreach/s]

                            [s//if/s]

                        </select>

                    </div>

                    <div class="col-md-3 mb-3">

                        <label class="colorTertiary font_weight500"
                               for="city">
                            Localidad
                        </label>

                        <input type="text"
                               class="form-control"
                               id="city"
                               name="city"
                               maxlength="150"
                               value="[s/$model->city/s]">

                    </div>

                    <div class="col-md-3 mb-3">

                        <label class="colorTertiary font_weight500"
                               for="postal_code">
                            C. Postal
                        </label>

                        <input type="text"
                               class="form-control"
                               id="postal_code"
                               name="postal_code"
                               maxlength="10"
                               value="[s/$model->postal_code/s]">

                    </div>



                </div>

        </form>


        <div class="row mt-4">

            <div class="col-md-12">

                <div class="border-top pt-3">

                    <div class="font_weight500 colorTertiary mb-3">
                        Activación de la cuenta
                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-2">

                            <span class="font_weight500">
                                Estado de la cuenta:
                            </span>

                            [s/if $model->status == 1/s]

                            <span class="colorAccent ms-1">
                                Activa
                            </span>

                            [s/elseif $model->status == 2/s]

                            <span class="colorWarning ms-1">
                                Bloqueada
                            </span>

                            [s/else/s]

                            <span class="colorMuted ms-1">
                                Inactiva
                            </span>

                            [s//if/s]

                        </div>

                        <div class="col-md-4 mb-2">

                            <span class="font_weight500">
                                Email verificado:
                            </span>

                            [s/if $model->email_verified_at/s]

                            <span class="colorAccent ms-1">
                                Sí
                            </span>

                            [s/else/s]

                            <span class="colorWarning ms-1">
                                No
                            </span>

                            [s//if/s]

                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="row mt-4">

            <div class="col-md-12">

                <div id="loading" class="loading-div">

                    <img alt="Loading" src="../assets/images/loading.svg">

                    <div class="text-center colorMuted">
                        Guardando datos
                    </div>

                </div>

            </div>

        </div>


        <div class="row mt-2">

            <div class="col-md-6">

                <button aria-label="Save changes"
                        id="btn_save"
                        class="btn backgroundTertiary colorWhite"
                        onclick="actualizarUsuario([s/$model->id/s],'editusuario');">
                    Guardar
                </button>

            </div>

            <div class="col-md-6 text-end">

                <a href="../usuarios"
                   class="btn backgroundMuted colorWhite">
                    Volver
                </a>

            </div>

        </div>

    </div>

    </div>

        <!-- CONTRASEÑA -->
        <div class="card mt-3">

            <div class="card-header font_weight500 d-flex align-items-center">

                <span>Contraseña</span>

            </div>

            <div class="card-body">

                <div class="password-info mb-4">

                    <div class="password-info-title">

                        <i class="fa-solid fa-shield-halved me-2"></i>
                        La contraseña debe cumplir los siguientes requisitos:

                    </div>

                    <ul>
                        <li>Al menos 8 caracteres.</li>
                        <li>Al menos una letra mayúscula.</li>
                        <li>Al menos una letra minúscula.</li>
                        <li>Al menos un número.</li>
                        <li>Al menos un carácter especial: @#$%&+!=?</li>
                    </ul>

                    <span>También puede generar una contraseña segura automáticamente.</span>

                </div>


                <form id="form_password" name="form_password" autocomplete="off">

                    <div class="row">

                        <div class="col-md-6 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="password">
                                Nueva contraseña
                            </label>

                            <div class="password-wrapper">

                                <input id="password"
                                       type="password"
                                       name="password"
                                       class="form-control"
                                       autocomplete="new-password">

                                <button type="button"
                                        class="btn-password"
                                        onclick="toggleRegisterPasswords();"
                                        aria-label="Mostrar contraseña">

                                    <i id="password-icon"
                                       class="fa-regular fa-eye"></i>

                                </button>

                            </div>

                        </div>


                        <div class="col-md-6 mb-3">

                            <label class="colorTertiary font_weight500"
                                   for="password-confirm">
                                Repetir contraseña
                            </label>

                            <input id="password-confirm"
                                   type="password"
                                   name="password_confirm"
                                   class="form-control"
                                   autocomplete="new-password">

                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-12 text-end">

                            <button type="button"
                                    class="btn-password-generate"
                                    onclick="generatePasswordUser();">

                                <i class="fa-solid fa-key me-1"></i>
                                Generar contraseña

                            </button>

                        </div>

                    </div>

                </form>


                <div id="password_form_error"
                     class="alert alert-danger mt-3 mb-0"
                     style="display:none;">
                    Debe completar correctamente los campos.
                </div>


                <div class="row mt-4">

                    <div class="col-md-12">

                        <div id="loading_password" class="loading-div">

                            <img alt="Loading"
                                 src="../assets/images/loading.svg">

                            <div class="text-center colorMuted">
                                Guardando contraseña
                            </div>

                        </div>

                    </div>

                </div>


                <div class="row mt-2">

                    <div class="col-md-6">

                        <button type="button"
                                id="btn_save_password"
                                class="btn backgroundTertiary colorWhite"
                                onclick="actualizarPassword([s/$model->id/s]);">
                            Guardar contraseña
                        </button>

                    </div>

                </div>

            </div>

        </div>

       
        
</div>

<div class="col-md-4">

    <div class="row">
        <div class="col-md-12">

            <!-- IMAGEN DE PERFIL -->
            <div class="card">

                <div class="card-header font_weight500 d-flex justify-content-between align-items-center">

                    <span>Imagen de Perfil</span>

                </div>

                <div class="card-body">

                    <form id="form_profile_image" name="form_profile_image">

                        <input type="hidden"
                               id="remove_profile_image"
                               name="remove_profile_image"
                               value="0">

                        <div id="profile_dropzone"
                             class="border rounded p-4 text-center cursor_pointer">

                            <i class="fa-solid fa-cloud-arrow-up fs-2 mb-2"></i>

                            <div class="fw-semibold">
                                Arrastra una imagen aquí
                            </div>

                            <div class="text-muted small">
                                o haz clic para seleccionarla
                            </div>

                            <div class="text-muted small mt-2">
                                Formatos permitidos: JPG, PNG y WEBP
                            </div>

                        </div>


                        <input type="file"
                               id="profile_image"
                               name="profile_image"
                               accept="image/jpeg,image/png,image/webp"
                               class="d-none">


                        <div id="profile_image_preview"
                             class="mt-3"
                             [s/if !$model->photo/s]style="display:none;"[s//if/s]>

                             <img id="profile_image_preview_img"
                             src="[s/if $model->photo/s]../[s/$model->photo/s][s/else/s]../assets/images/usuarios/default_profile.png[s//if/s]"
                             alt="Vista previa"
                             class="img-fluid rounded"
                             style="max-height:220px;">

                            <div class="mt-2">

                                <button type="button"
                                        id="btn_change_profile_image"
                                        class="btn btn-sm btn-outline-secondary me-2">

                                    <i class="fa-solid fa-image me-1"></i>
                                    Cambiar imagen

                                </button>

                                <button type="button"
                                        id="btn_remove_profile_image"
                                        class="btn btn-sm btn-outline-danger">

                                    <i class="fa-solid fa-trash me-1"></i>
                                    Quitar imagen

                                </button>

                            </div>

                        </div>

                    </form>


                    <div id="profile_image_form_error"
                         class="alert alert-danger mt-3 mb-0"
                         style="display:none;">
                    </div>


                    <div class="row mt-4">

                        <div class="col-md-12">

                            <div id="loading_photo" class="loading-div">

                                <img alt="Loading" src="../assets/images/loading.svg">

                                <div class="text-center colorMuted">
                                    Guardando imagen
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="row mt-2">

                        <div class="col-md-6">

                            <button type="button"
                                    id="btn_save_photo"
                                    class="btn backgroundTertiary colorWhite"
                                    onclick="actualizarFotoPerfil([s/$model->id/s],'editusuario');">
                                Guardar
                            </button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Display name -->
    <div class="row mt-2">

        <div class="col-md-12">

            <div class="card">

                <div class="card-header font_weight500 d-flex align-items-center">

                    <span>Nombre para mostrar</span>

                </div>

                <div class="card-body">

                    <form id="form_display_name"
                          name="form_display_name"
                          autocomplete="off">

                        <div class="row">

                            <div class="col-md-12 mb-3">

                                <label class="colorTertiary font_weight500"
                                       for="display_name">
                                    Nombre para mostrar
                                </label>

                                <input type="text"
                                       class="form-control"
                                       id="display_name"
                                       name="display_name"
                                       maxlength="150"
                                       value="[s/$model->display_name/s]">

                                <div class="form-text">
                                    Nombre que se mostrará en la plataforma en lugar del nombre completo del usuario.
                                </div>

                            </div>

                        </div>

                    </form>


                    <div id="display_name_form_error"
                         class="alert alert-danger mt-3 mb-0"
                         style="display:none;">
                    </div>


                    <div class="row mt-4">

                        <div class="col-md-12">

                            <div id="loading_display_name"
                                 class="loading-div">

                                <img alt="Loading"
                                     src="../assets/images/loading.svg">

                                <div class="text-center colorMuted">
                                    Guardando datos
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="row mt-2">

                        <div class="col-md-6">

                            <button type="button"
                                    id="btn_save_display_name"
                                    class="btn backgroundTertiary colorWhite"
                                    onclick="actualizarDisplayName([s/$model->id/s],'editusuario');">
                                Guardar
                            </button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="row mt-2">

        <div class="col-md-12">

            <div class="card">

                <div class="card-header font_weight500">

                    Opciones

                </div>

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-4 mt-2">
                            <a aria-label="activity" class="colorTertiary" href="../auditusuario/[s/$model->id/s]">
                                <i class="fa-solid fa-circle-info"></i> Actividad
                            </a>
                        </div>


                    </div>

                </div>

            </div>


        </div>

    </div>

</div>

</div>
