<div id="cookies-info" class="cookies-info">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-10">

                Este sitio utiliza únicamente cookies técnicas necesarias para el funcionamiento de la plataforma.

                <a href="cookies">
                    Más información
                </a>

            </div>

            <div class="col-lg-2 text-lg-end mt-3 mt-lg-0">

                <button
                    id="cookies-close"
                    class="btn btn-sm btn-primary">

                    Entendido

                </button>

            </div>

        </div>

    </div>

</div>
