<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="index">
           <img
            src="[s/$urlEnvironment/s]assets/images/logo/logo-icon.png"
            alt="Pueblo Digital"
            class="brand-logo">
           <span class="ms-2">
            Don Álvaro Digital
           </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="mainNav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="index#servicio">Servicio</a></li>
                <li class="nav-item"><a class="nav-link" href="index#funcionamiento">Cómo funciona</a></li>
                <li class="nav-item"><a class="nav-link" href="index#instalaciones">Instalaciones</a></li>
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-outline-primary rounded-pill px-4"
                       href="login">

                        <i class="fa-solid fa-right-to-bracket me-1"></i>
                        Iniciar sesión

                    </a>
                </li>

                <li class="nav-item ms-lg-2">
                    <a class="btn btn-primary rounded-pill px-4"
                       href="register">

                        <i class="fa-solid fa-user-plus me-1"></i>
                        Crear cuenta

                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>