<div class="app-wrapper">

    <!-- Navbar -->
    [s/$navBar/s]
    <!-- / Navbar -->
    
    [s/$menu/s]

    <main class="app-main">
        
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            [s/$breadcrumb/s]
          </div>
          <!--end::Container-->
        </div>
        
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
              [s/$page/s]
          </div>
        </div>

    </main>

    <!-- Footer -->
    [s/$footer/s]
    <!-- / Footer -->

</div>
