<div class="hidden-print modal fade"
     id="modal_result"
     tabindex="-1"
     aria-labelledby="modalResultTitle"
     aria-hidden="true">

    <div class="modal-dialog"  role="document">
        <div class="modal-content result-modal">
            
            <div class="modal-header result-modal-header">
                <div class="fs-5 colorWhite" id="modalResultTitle">
                    Información
                </div>

                <i class="fa-solid fa-xmark fs-5 modal-close"
                   data-bs-dismiss="modal"
                   aria-label="Cerrar"></i>
            </div>

            <div class="modal-body">

                <p id="modalResultMessage"
                   class="result-modal-message mb-0">
                </p>

            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn result-modal-button"
                        data-bs-dismiss="modal">

                    Cerrar

                </button>

            </div>

        </div>
    </div>
</div>