[s/$title/s]

<div class="card">

    <div class="card-header font_weight500">
        Consultar auditoría
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-md-4">

                <label for="audit_type"
                       class="colorBase7 font_weight500">
                    Tipo de auditoría
                </label>

                <div class="custom-select">

                    <select id="audit_type"
                            name="audit_type"
                            class="form-control">

                        <option value="">
                            Seleccione un tipo
                        </option>

                        <option value="FACILITY">
                            Instalaciones
                        </option>

                        <option value="LOCK">
                            Cerraduras
                        </option>

                        <option value="GATEWAY">
                            Gateways
                        </option>

                        <option value="PIN">
                            Códigos PIN
                        </option>

                        <option value="RESERVATION">
                            Reservas
                        </option>
                        
                        [s/if $bonuses_enabled/s]
                        <option value="BONUS">Bonos</option>
                        [s//if/s]

                        <option value="CLIENT">
                            Clientes
                        </option>

                        <option value="USER">
                            Usuarios
                        </option>

                    </select>

                </div>

            </div>

        </div>

    </div>

</div>


<div id="loading_audit"
     class="loading-div"
     style="display:none;">

    <img alt="Loading" src="assets/images/loading.svg">

    <div class="text-center colorMuted">
        Cargando auditoría
    </div>

</div>


<div id="audit_results" class="mt-3">

    <div class="card">

        <div class="card-body colorMuted">

            <i class="fa-solid fa-circle-info me-1"></i>
            Seleccione un tipo de auditoría para consultar los registros.

        </div>

    </div>

</div>