[s/$configHtml/s]
<script src="[s/$urlPlugins/s]jquery/jquery-4.0.0.min.js"></script>
<script src="[s/$urlLib/s]twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="[s/$urlPlugins/s]bootstrap-select/bootstrap-select.min.js"></script>
<script src="[s/$urlLib/s]fortawesome/font-awesome/js/solid.min.js"></script>
<script src="[s/$urlLib/s]fortawesome/font-awesome/js/fontawesome.min.js" data-auto-replace-svg="nest"></script>
<script src="[s/$urlPlugins/s]chartjs/chart.umd.min.js"></script>
<script src="[s/$urlPlugins/s]datatables/datatables.min.js"></script>
<script src="[s/$urlPlugins/s]luxon/luxon.min.js"></script>
<script src="[s/$urlPlugins/s]daterangepicker/moment.min.js"></script>
<script src="[s/$urlPlugins/s]daterangepicker/daterangepicker.js"></script>
<script src="[s/$urlPlugins/s]adminlte/adminlte.min.js"></script>
<script src="[s/$urlPlugins/s]fullcalendar-7.0.2/dist/fullcalendar.global.js"></script>
<script src="[s/$urlPlugins/s]fullcalendar-7.0.2/dist/locales-all/global.js"></script>
<script src="[s/$urlPlugins/s]fullcalendar-7.0.2/dist/themes/classic/global.js"></script>
<script src="[s/$urlJsCommon/s]"></script>
<script src="[s/$urlJsCntrl/s]"></script>
<script src="[s/$urlJsAdicional/s]"></script>
