<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="[s/$robots/s]">
        <title>[s/$title/s]</title>
        <meta name="author" content="Wilowi">
        <meta name="author" content="Wilowi">
        <meta name="description" content="[s/$descripcion/s]">
        <meta name="keywords" content="[s/$keywords/s]">
        <meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
        <meta http-equiv="Pragma" content="no-cache">
        <link rel="shortcut icon" href="[s/$extraUrl/s]assets/images/logo/favicon.ico">
        <link rel="stylesheet" href="[s/$urlLib/s]fortawesome/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="[s/$urlLib/s]fortawesome/font-awesome/css/solid.min.css">
        <link rel="stylesheet" href="[s/$urlLib/s]twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]bootstrap-select/bootstrap-select.min.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]datatables/datatables.min.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]adminlte/adminlte.min.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]phosphor/regular/style.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]phosphor/bold/style.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]phosphor/fill/style.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]phosphor/duotone/style.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]fullcalendar-7.0.2/dist/skeleton.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]fullcalendar-7.0.2/dist/themes/classic/theme.css">
        <link rel="stylesheet" href="[s/$urlPlugins/s]fullcalendar-7.0.2/dist/themes/classic/palette.css">
        <link rel="stylesheet" type="text/css" href="[s/$urlCss/s]normalize.css" media="all">
        <link rel="stylesheet" type="text/css" href="[s/$urlCssComun/s]" media="all">
        <link rel="stylesheet" type="text/css" href="[s/$urlCssCntrl/s]" media="all">
        <link rel="stylesheet" type="text/css" href="[s/$urlCssMenu/s]" media="all">
        [s/if $smarty.session.role_user == 3/s]
        <link rel="stylesheet" type="text/css" href="[s/$urlCssCntrlClient/s]" media="all">
        [s//if/s]

    </head>
    <body id="body" class="layout-fixed sidebar-expand-lg bg-body-tertiary">

