{
  "server": "DB.local",
  "usuario": "pd_donalvaro_user",
  "password": "Qk#_3jH!|;5tunTQ",
  "name": "donalvaro_torrefresneda",
  "ssl_key": "/etc/mysql-certs/app-pueblodigital-key.pem",
  "ssl_cert": "/etc/mysql-certs/app-pueblodigital-cert.pem",
  "ssl_ca": "/etc/mysql-certs/ca-cert.pem",
  "port": "3306"
}